@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.hero {
  padding-block-start: 170px;
  text-align: center;

  &::before {
    background-image: $gradient-2;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    z-index: 1;
  }

  @include desktop-up {
    padding-block-start: 250px;
  }

  .section-subtitle {
    letter-spacing: 5px;

    @include tablet-up {
      letter-spacing: 10px;
    }
  }

  &-title {
    margin-block: 20px 25px;
  }

  .btn {
    margin-inline: auto;
  }

  &-banner {
    position: relative;
    margin-block-start: 50px;

    @include desktop-up {
      .w-100 {
        max-width: max-content;
        margin-inline: auto;
      }
    }

    &-bg {
      display: none;

      @include tablet-up {
        display: block;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: scale(1.3);
        transform-origin: bottom;
        z-index: -1;
      }

      @include desktop-up {
        transform: scale(1.2);
      }
    }
  }
}
