@use '@/styles/variables' as *;

.back-top-btn {
  position: fixed;
  bottom: 10px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-image: $gradient-1;
  display: grid;
  place-items: center;
  font-size: 2.1rem;
  clip-path: $clip-path-8;
  opacity: 0;
  transition: $transition-1;
  z-index: 4;

  &.active {
    opacity: 1;
    transform: translateY(-20px);
  }

  &:is(:hover, :focus-visible) {
    transform: translateY(-5px);
  }

  ion-icon {
    font-size: 2.4rem;
  }
}
