@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.footer {
  .footer-top {
    padding-block: 60px;

    @include laptop-up {
      padding-block: 100px;
    }

    .container {
      display: grid;
      gap: 40px;

      @include tablet-up {
        grid-template-columns: repeat(2, 1fr);
      }

      @include laptop-up {
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
      }
    }
  }

  .footer-brand {
    .logo img {
      width: 150px;
    }

    .footer-text {
      margin-block: 25px 20px;
      line-height: 1.8;
    }
  }

  .social-list {
    display: flex;
    gap: 10px;
  }

  .social-link {
    background-color: $bg-oxford-blue-alpha-80;
    color: $text-white;
    width: 45px;
    height: 45px;
    @include flex-center;
    border-radius: $radius-5;
    transition: $transition-1;

    &:is(:hover, :focus-visible) {
      background-color: $bg-purple;
      color: $text-white;
    }

    ion-icon {
      font-size: 2rem;
    }
  }

  .footer-list-title {
    font-size: $font-size-3;
    font-weight: $font-weight-semi-bold;
    color: $text-white;
    margin-block-end: 25px;
    position: relative;

    &.has-after::after {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 50px;
      height: 3px;
      background-image: $gradient-1;
    }
  }

  .footer-link {
    padding-block: 8px;
    transition: $transition-1;

    &:is(:hover, :focus-visible) {
      color: $text-purple;
      transform: translateX(5px);
    }
  }

  .contact-item {
    margin-block-start: 15px;
    display: flex;
    gap: 10px;

    .span {
      color: $text-white;
      font-weight: $font-weight-semi-bold;
      min-width: 70px;
    }

    .contact-link {
      transition: $transition-1;

      &:is(:hover, :focus-visible) {
        color: $text-purple;
      }
    }
  }

  .footer-form {
    margin-block-start: 25px;

    .input-field {
      background-color: $bg-oxford-blue-alpha-80;
      border: 1px solid $border-purple-alpha-30;
      color: $text-gainsboro;
      padding: 15px 20px;
      border-radius: $radius-5;
      margin-block-end: 15px;
      outline: none;
      transition: $transition-1;

      &:focus {
        border-color: $bg-purple;
      }

      &::placeholder {
        color: $text-gainsboro;
      }
    }

    .btn {
      width: 100%;
    }
  }

  .footer-bottom {
    background-color: $bg-oxford-blue;
    padding-block: 25px;
    text-align: center;

    .copyright {
      font-size: $font-size-7;
    }
  }
}
