@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.footer {
  .footer-top {
    .container {
      display: grid;
      gap: 35px;

      @include mobile-up {
        grid-template-columns: 1fr 1fr;
      }

      @include laptop-up {
        grid-template-columns: repeat(4, 1fr);
      }

      @include desktop-up {
        grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
      }
    }
  }

  .footer-text {
    margin-block: 25px 20px;
  }

  .social-list {
    display: flex;
    gap: 10px;
  }

  .social-link {
    width: 40px;
    height: 40px;
    background-color: $bg-purple-alpha-30;
    display: grid;
    place-items: center;
    clip-path: $clip-path-8;
    transition: $transition-1;

    &:is(:hover, :focus-visible) {
      background-color: $bg-purple;
      transform: translateY(-2px);
    }
  }

  .footer-list-title {
    font-size: $font-size-3;
    font-weight: $font-weight-semi-bold;
    line-height: 1;
    position: relative;
    padding-block-end: 10px;
    margin-block-end: 20px;
    max-width: max-content;

    &::after {
      bottom: 0;
      left: 0;
      width: 50%;
      height: 4px;
      background-color: $bg-purple;
    }
  }

  .footer-link {
    padding-block: 5px;
    color: $text-white;
    transition: $transition-1;

    &:is(:hover, :focus-visible) {
      color: $text-purple;
      transform: translateX(5px);
    }
  }

  .contact-item {
    &:not(:last-child) {
      margin-block-end: 15px;
    }

    .span {
      color: $text-purple;
      font-size: $font-size-7;
      text-transform: uppercase;
      font-weight: $font-weight-semi-bold;
    }
  }

  .input-field {
    background-color: $bg-oxford-blue-alpha-80;
    color: $text-gainsboro;
    font-size: $font-size-5;
    padding: 15px 20px;
    box-shadow: $shadow;
    border: 2px solid $border-purple-alpha-30;
    margin-block-end: 15px;
    outline: none;

    &:focus {
      border-color: $bg-purple;
    }

    &::placeholder {
      color: $text-gainsboro;
    }
  }

  .btn {
    width: 100%;
  }

  .footer-bottom {
    clip-path: $clip-path-9;
    background-color: $bg-oxford-blue-alpha-80;
    text-align: center;

    .copyright {
      padding: 30px 20px;
    }
  }

  @include desktop-up {
    .logo img {
      width: 205px;
    }
  }
}
