@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 18px;
  z-index: 4;
  transition: $transition-1;
  background-color: transparent;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @include mobile-up {
    .logo {
      img {
        width: 160px;
      }
    }
  }

  .btn {
    display: none;

    @include laptop-up {
      display: grid;
      text-align: center;
    }
  }

  &.active {
    position: fixed;
    background-color: $bg-oxford-blue-alpha-95;
    box-shadow: 0 18px 40px -25px hsla(240, 63%, 13%, 0.9);
    animation: slideDown 300ms ease forwards;
  }
}

.nav-toggle-btn {
  @include laptop-up {
    display: none;
  }

  .line {
    height: 3px;
    width: 10px;
    margin-block: 4px;
    background-color: $text-gainsboro;
    border-radius: 8px;
    transition: $transition-1;
  }

  .line-2 {
    width: 20px;
  }

  .line-3 {
    margin-inline-start: auto;
  }

  &.active {
    .line-2 {
      transform: rotate(-45deg);
    }

    .line-1 {
      transform: rotate(45deg) translate(4px, 1.5px);
    }

    .line-3 {
      transform: rotate(45deg) translate(-3px, -1px);
    }
  }
}

.navbar {
  position: absolute;
  top: calc(100% - 1px);
  right: 12px;
  left: 12px;
  background-color: $bg-oxford-blue;
  padding: 0 15px;
  clip-path: $clip-path-1;
  visibility: hidden;
  transition: clip-path 500ms $cubic-out;

  @include laptop-up {
    all: unset;
    display: block;
  }

  &.active {
    clip-path: $clip-path-2;
    visibility: visible;

    @include laptop-up {
      all: unset;
      display: block;
    }
  }
}

.navbar-list {
  @include laptop-up {
    display: flex;
  }
}

.navbar-item {
  border-block-start: 1px solid $border-space-cadet;

  @include laptop-up {
    border: none;
  }

  &:last-child {
    border-block-end: 1px solid $border-space-cadet;

    @include laptop-up {
      border: none;
    }
  }
}

.navbar-link {
  padding: 12px 25px;
  text-transform: uppercase;
  font-size: $font-size-7;
  font-weight: $font-weight-semi-bold;
  color: $text-white;
  transition: $transition-1;

  &:is(:hover, :focus-visible),
  &.active {
    color: $text-purple;
  }
}
